In [21]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [23]:
ds = pd.read_csv('career_questions.csv')

In [24]:
ds.iloc[0]

QNo                                                    1
Question       What interests you the most in computing?
Answer A                           Building applications
Careers A        Software Engineer, Full Stack Developer
Answer B                           Analyzing data trends
Careers B                  Data Scientist, Data Engineer
Answer C                               Securing networks
Careers C    Cybersecurity Analyst, System Administrator
Answer D                       Designing user interfaces
Careers D           UI/UX Designer, Mobile App Developer
Name: 0, dtype: object

In [20]:
#questions = pd.DataFrame(columns=['QNo','Career', 'Answer_A', 'Answer_B', 'Answer_C', 'Answer_D', 'Correct_Answer'])

In [32]:
questions=[]

In [33]:
def collect_question(i):
    career_A = ds.iloc[i]["Careers A"].split(", ")
    career_B = ds.iloc[i]["Careers B"].split(", ")
    career_C = ds.iloc[i]["Careers C"].split(", ")
    career_D = ds.iloc[i]["Careers D"].split(", ")
    for career in career_A:
        record = [i, career, 1, 0, 0, 0]
        questions.append(record)
    for career in career_B:
        record = [i, career, 0, 1, 0, 0]
        questions.append(record)
    for career in career_C:
        record = [i, career, 0, 0, 1, 0]
        questions.append(record)
    for career in career_C:
        record = [i, career, 0, 0, 0, 1]
        questions.append(record)

In [36]:
for i in range(len(ds)):
  collect_questions(i)

[0, 'Software Engineer', 1, 0, 0, 0]
[0, 'Full Stack Developer', 1, 0, 0, 0]
[1, 'Full Stack Developer', 1, 0, 0, 0]
[1, 'Software Engineer', 1, 0, 0, 0]
[2, 'Software Engineer', 1, 0, 0, 0]
[2, 'Full Stack Developer', 1, 0, 0, 0]
[3, 'AI/ML Engineer', 1, 0, 0, 0]
[3, 'Software Engineer', 1, 0, 0, 0]
[4, 'Full Stack Developer', 1, 0, 0, 0]
[4, 'Mobile App Developer', 1, 0, 0, 0]
[5, 'Software Engineer', 1, 0, 0, 0]
[5, 'AI/ML Engineer', 1, 0, 0, 0]
[6, 'Full Stack Developer', 1, 0, 0, 0]
[6, 'Cloud Engineer', 1, 0, 0, 0]
[7, 'Software Engineer', 1, 0, 0, 0]
[7, 'Full Stack Developer', 1, 0, 0, 0]
[8, 'Full Stack Developer', 1, 0, 0, 0]
[8, 'Mobile App Developer', 1, 0, 0, 0]
[9, 'Software Engineer', 1, 0, 0, 0]
[9, 'DevOps Engineer', 1, 0, 0, 0]
[10, 'Full Stack Developer', 1, 0, 0, 0]
[10, 'Cloud Engineer', 1, 0, 0, 0]
[11, 'Full Stack Developer', 1, 0, 0, 0]
[11, 'Mobile App Developer', 1, 0, 0, 0]
[12, 'Software Engineer', 1, 0, 0, 0]
[12, 'Full Stack Developer', 1, 0, 0, 0]
[13, 'AI/ML Engineer', 1, 0, 0, 0]
[13, 'Data Scientist', 1, 0, 0, 0]
[14, 'Software Engineer', 1, 0, 0, 0]
[14, 'Full Stack Developer', 1, 0, 0, 0]
[15, 'Software Engineer', 1, 0, 0, 0]
[15, 'Full Stack Developer', 1, 0, 0, 0]
[16, 'Full Stack Developer', 1, 0, 0, 0]
[16, 'Software Engineer', 1, 0, 0, 0]
[17, 'Full Stack Developer', 1, 0, 0, 0]
[17, 'Software Engineer', 1, 0, 0, 0]
[18, 'Software Engineer', 1, 0, 0, 0]
[18, 'Full Stack Developer', 1, 0, 0, 0]
[19, 'Software Engineer', 1, 0, 0, 0]
[19, 'Full Stack Developer', 1, 0, 0, 0]

In [38]:
questions = pd.DataFrame(questions, columns=['QNo','Career', 'Answer_A', 'Answer_B', 'Answer_C', 'Answer_D'])

In [40]:
questions.to_csv("prepared_dataset.csv")